@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Oriya:wght@400..700&display=swap');
@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");
/*universal styles*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #E1EDC1;
  color: #515856;
  font-family: "Noto Sans", sans-serif;
}
a{
  font-weight: 500;
  text-decoration: none;
}
.title{
  font-family: "Noto Serif Oriya", serif;
  font-size: 80px;
  font-weight: 900;
}

/*universal styles end*/

/*Nav styles*/
nav{
  align-items: center;
  color: #98a869;
  display: flex;
  flex-direction: column;
  font-weight: 900;
  justify-content: space-around;
  margin-top: -15rem;
}
.img {
  height: 15rem;
  position: sticky;
  top: 0;
  width: 100%;
}

img {
  height: 100%;
  width: 100%;
}
.options{
  align-items: center;
  display: flex;
  gap: 55px;
}
.options a{
  color: #fff;
  font-family: "Noto Serif Oriya", serif;
  font-size: 38px;
  font-weight: 900;
}
.options a:hover{
  border-bottom:5px solid #98a869;
}
/*Nav styles end*/

/*home styles*/
#home{
  margin-top: 20px;
}
/*about styles*/
.about .content {
  color: #515856;
  height: 400px;
  margin: 0 auto;
  width: 60%;
}

.content h1 {
  font-size: 50px;
}

.content h1 span {
  color: #98a869;
  font-family: "Noto Serif Oriya", serif;
}
.content p{
  font-style: 35px;
  margin: 10px 0;
}
.links i {
  align-items: center;
  background-color: #23361a;
  border-radius: 50%;
  color: #fff;
  display: inline-flex;
  font-size: 1.2rem;
  height: 3rem;
  justify-content: center;
  margin: 5px 10px;
  transition: 0.2s linear;
  width: 3rem;
}
.content button {
  background-color: #23361a;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  font-weight: 700;
  height: 6vh;
  margin-top: 20px;
  outline: none;
  transition: 0.2s linear;
  width: 30%;
}
/*about styles end*/

.container{
  display: grid;
  gap: 20px;
  grid-template-columns: auto auto auto;
}
.card{
  background-color: #515856;
  border-radius: 25px;
  color: #E1EDC1;
  padding: 15px 10px;
  text-align: center;
  width: 20rem;
}

/*home styles end*/