@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+Oriya:wght@400..700&display=swap');
@import url("https://use.fontawesome.com/releases/v6.5.1/css/all.css");
/*universal styles*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: #E1EDC1;
  color: #515856;
  font-family: "Noto Sans", sans-serif;
}
a{
  font-weight: 500;
  text-decoration: none;
}
.title{
  font-family: "Noto Serif Oriya", serif;
  font-size: 30px;
  font-weight: 900;
}
/*universal styles*/

nav{
  align-items: center;
  display: flex;
  font-size: 25px;
  justify-content: space-around;
}

/*dropdown styles*/
.dropdown{
  display: inline-block;
}
.dropdown button{
  border: none;
  border-radius: 30px;
  color: #98a869;
  cursor: pointer;
  padding: 10px 15px;
}
.dropdown a{
  color: #9EA788;
  display: block;
  font-size: 15px;
  padding: 10px 15px;
}
.dropdown .options{
  background-color: #98a869;
  box-shadow: 2px 2px 5px;
  display: none;
  position: absolute;
  min-width: 100px;
}
.dropdown:hover .options{
  display: block;
}
.dropdown:hover button{
  color: #515856;
  rotate: 90deg;
}
.dropdown a:hover{
  background-color: #E1EDC1;
}
/*dropdown styles end*/